.container
  .row{style: 'padding-top: 100px;'}
    .col-md-6.col-md-offset-3
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Username
        .panel-body
          %p Lorem ipsum...
